#chess_board_container{
    height: 480px;
    width: 480px;
   
    position: relative;
    top: 0px;
   }


   
#A1{
  background-color: rgb(228, 150, 192);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 0px;
  left:0px;
}

#A2{
  background-color: rgb(255, 255, 255);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 60px;
  left:0px;
}

#A3{
  background-color: rgb(228, 150, 192);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 120px;
  left:0px;
}

#A4{
  background-color: rgb(255, 255, 255);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 180px;
  left:0px;
}

#A5{
  background-color: rgb(228, 150, 192);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 240px;
  left:0px;
}

#A6{
  background-color: rgb(255, 255, 255);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 300px;
  left:0px;
}

#A7{
  background-color: rgb(228, 150, 192);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 360px;
  left:0px;
}

#A8{
  background-color: rgb(255, 255, 255);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 420px;
  left:0px;
}

#B1{
  background-color: rgb(255, 255, 255);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 0px;
  left:60px;
}

#B2{
  background-color: rgb(228, 150, 192);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 60px;
  left:60px;
}

#B3{
  background-color: rgb(255, 255, 255);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 120px;
  left:60px;
}

#B4{
  background-color: rgb(228, 150, 192);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 180px;
  left:60px;
}

#B5{
  background-color: rgb(255, 255, 255);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 240px;
  left:60px;
}

#B6{
  background-color: rgb(228, 150, 192);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 300px;
  left:60px;
}

#B7{
  background-color: rgb(255, 255, 255);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 360px;
  left:60px;
}

#B8{
  background-color: rgb(228, 150, 192);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 420px;
  left:60px;
}

#C1{
  background-color: rgb(228, 150, 192);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 0px;
  left:120px;
}

#C2{
  background-color: rgb(255, 255, 255);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 60px;
  left:120px;
}

#C3{
  background-color: rgb(228, 150, 192);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 120px;
  left:120px;
}

#C4{
  background-color: rgb(255, 255, 255);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 180px;
  left:120px;
}

#C5{
  background-color: rgb(228, 150, 192);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 240px;
  left:120px;
}

#C6{
  background-color: rgb(255, 255, 255);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 300px;
  left:120px;
}

#C7{
  background-color: rgb(228, 150, 192);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 360px;
  left:120px;
}

#C8{
  background-color: rgb(255, 255, 255);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 420px;
  left:120px;
}

#D1{
  background-color: rgb(255, 255, 255);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 0px;
  left:180px;
}

#D2{
  background-color: rgb(228, 150, 192);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 60px;
  left:180px;
}

#D3{
  background-color: rgb(255, 255, 255);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 120px;
  left:180px;
}

#D4{
  background-color: rgb(228, 150, 192);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 180px;
  left:180px;
}

#D5{
  background-color: rgb(255, 255, 255);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 240px;
  left:180px;
}

#D6{
  background-color: rgb(228, 150, 192);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 300px;
  left:180px;
}

#D7{
  background-color: rgb(255, 255, 255);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 360px;
  left:180px;
}

#D8{
  background-color: rgb(228, 150, 192);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 420px;
  left:180px;
}

#E1{
  background-color: rgb(228, 150, 192);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 0px;
  left:240px;
}

#E2{
  background-color: rgb(255, 255, 255);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 60px;
  left:240px;
}

#E3{
  background-color: rgb(228, 150, 192);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 120px;
  left:240px;
}

#E4{
  background-color: rgb(255, 255, 255);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 180px;
  left:240px;
}

#E5{
  background-color: rgb(228, 150, 192);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 240px;
  left:240px;
}

#E6{
  background-color: rgb(255, 255, 255);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 300px;
  left:240px;
}

#E7{
  background-color: rgb(228, 150, 192);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 360px;
  left:240px;
}

#E8{
  background-color: rgb(255, 255, 255);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 420px;
  left:240px;
}

#F1{
  background-color: rgb(255, 255, 255);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 0px;
  left:300px;
}

#F2{
  background-color: rgb(228, 150, 192);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 60px;
  left:300px;
}

#F3{
  background-color: rgb(255, 255, 255);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 120px;
  left:300px;
}

#F4{
  background-color: rgb(228, 150, 192);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 180px;
  left:300px;
}

#F5{
  background-color: rgb(255, 255, 255);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 240px;
  left:300px;
}

#F6{
  background-color: rgb(228, 150, 192);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 300px;
  left:300px;
}

#F7{
  background-color: rgb(255, 255, 255);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 360px;
  left:300px;
}

#F8{
  background-color: rgb(228, 150, 192);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 420px;
  left:300px;
}

#G1{
  background-color: rgb(228, 150, 192);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 0px;
  left:360px;
}

#G2{
  background-color: rgb(255, 255, 255);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 60px;
  left:360px;
}

#G3{
  background-color: rgb(228, 150, 192);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 120px;
  left:360px;
}

#G4{
  background-color: rgb(255, 255, 255);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 180px;
  left:360px;
}

#G5{
  background-color: rgb(228, 150, 192);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 240px;
  left:360px;
}

#G6{
  background-color: rgb(255, 255, 255);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 300px;
  left:360px;
}

#G7{
  background-color: rgb(228, 150, 192);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 360px;
  left:360px;
}

#G8{
  background-color: rgb(255, 255, 255);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 420px;
  left:360px;
}

#H1{
  background-color: rgb(255, 255, 255);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 0px;
  left:420px;
}

#H2{
  background-color: rgb(228, 150, 192);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 60px;
  left:420px;
}

#H3{
  background-color: rgb(255, 255, 255);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 120px;
  left:420px;
}

#H4{
  background-color: rgb(228, 150, 192);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 180px;
  left:420px;
}

#H5{
  background-color: rgb(255, 255, 255);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 240px;
  left:420px;
}

#H6{
  background-color: rgb(228, 150, 192);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 300px;
  left:420px;
}

#H7{
  background-color: rgb(255, 255, 255);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 360px;
  left:420px;
}

#H8{
  background-color: rgb(228, 150, 192);
  height: 60px;
  width: 60px;
  position:absolute;
  bottom: 420px;
  left:420px;
}