#all {
  background: linear-gradient(#e66465, #9198e5);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#navbar_container {
  text-align: center;
}

#navbar li {
  float: left;
}

#stockfish_eval_bar {
  display: flex;
  flex-direction: column;
  width: 25px;
  height: 450px;
  border-radius: 3px;
  border-color: white;
  border-style: double;
  border-right: none;
}

#stockfish_descriptor {
  text-decoration: none;
  /* Removes the underline */
  color: white;
  font-family: 'Lucida Console';
  font-size: 13px;
  margin-left: auto;
  margin-right: auto;

}

#white_win_percent {
  height: 50%;
  background-color: rgb(0 0 30 / 30%);
  ;
}

#black_win_percent {
  height: 50%;
  background-color: rgb(255 255 255 / 20%);
  ;
}

#right_side {
  margin-top: 1.5%;
  margin-left: 2%;
  display: flex;
  flex-direction: row;

  justify-content: flex-start;
  height: 425px;
  width: 300px;
}

#round_record {
  display: flex;
  flex-direction: column;
  border-style: double;
  justify-content: flex-start;
  border-radius: 3px;
  border-color: white;
  height: 450px;
  width: 300px;

  overflow-y: scroll;
  overflow-x: hidden;

  scrollbar-color: rgb(0 0 255 / 10%) rgb(0 0 255 / 10%);
  scrollbar-width: thin;
}

/* #round_record ul {
  background-color: white;
} */

#round_record h4 {
  color: white;
  font-family: 'Lucida Console';
  font-size: 13px;
  margin-left: auto;
  margin-right: auto;
}

/* width */
#round_record::-webkit-scrollbar {
  width: 10px;
}

#round {
  border-style: double;
  border-color: white;
  border-radius: 3;
  display: flex;
  margin-top: 0px;
}



#stockfish_toggle {
  display: flex;
  justify-content: space-around;
  height: 50px;

  border-bottom: double;
  border-radius: 3px;
  border-color: white;
}

#stockfish_image_slider {
  margin-top: 10px;
  width: calc(100%/3);
  height: 25px;
  background-color: transparent;
}

#settings_button {
  background: none;
  border: none;
  justify-content: center;
}

#enable_stockfish_outside {
  justify-content: center;
  height: 100%;

}

#slider_background {
  appearance: none;
  background-color: rgb(0 0 30 / 50%);
  border: none;
  justify-content: center;
  width: 50px;
  height: 25px;
  border-radius: 25px;
  border-color: white;

  display: flex;
  justify-content: left;

  margin-left: 1.5%;
  margin-top: 4%;

}

#enable_stockfish_slider {
  width: 20px;

}



#settings_toggle {
  background-color: transparent;
}

.round_record_container {
  display: flex;
  justify-content: space-evenly;
  height: 30px;


}

.is_active_round {
  background-color: rgb(0 0 30 / 50%);
}

.round_content {
  display: flex;
  justify-content: center;
  width: calc(100% / 3);
  height: 30px;

  color: white;
  font-family: 'Lucida Console';
  font-size: 13px;
}

#round_record ul {
  display: flex;
  list-style-type: none;
}

.round_content_numeric {
  border-right: double;
  border-color: white;
  border-width: 3px;
  background-color: rgb(70 0 30 / 15%);
}

#wikibookcontainer {
  border-style: double;
  border-radius: 3;
  margin-left: 3%;
  margin-top: 2%;
  border-color: white;
  height: 450px;
  width: 250px;
}

#move {
  display: flex;
  margin: top -15px;
}

#import_PGN_text {
  margin-top: 5%;
  margin-left: 5%;
}

#pgn_submission {
  display: flex;
  justify-content: center;
  border-style: double;
  margin: 0;
  text-align: center;
  font-family: 'Lucida Console';
  color: white;
}

#middle_part {
  display: flex;
}

#navbar a {
  text-decoration: none;
  color: white;
  display: block;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
}

#navbar ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  font-family: 'Lucida Console';

  font-size: 13px;
}

#navbar a:hover {
  background: rgb(19, 27, 115);
}


#chess_board_container {
  margin-left: 2%;
  border-style: double;
  height: 480px;
  width: 480px;
  border-color: white;
  position: relative;
  top: 0px;
}

#A1 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

#A2 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 60px;
  left: 0px;
}

#A3 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 120px;
  left: 0px;
}

#A4 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 180px;
  left: 0px;
}

#A5 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 240px;
  left: 0px;
}

#A6 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 300px;
  left: 0px;
}

#A7 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 360px;
  left: 0px;
}

#A8 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 420px;
  left: 0px;
}

#B1 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 0px;
  left: 60px;
}

#B2 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 60px;
  left: 60px;
}

#B3 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 120px;
  left: 60px;
}

#B4 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 180px;
  left: 60px;
}

#B5 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 240px;
  left: 60px;
}

#B6 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 300px;
  left: 60px;
}

#B7 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 360px;
  left: 60px;
}

#B8 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 420px;
  left: 60px;
}

#C1 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 0px;
  left: 120px;
}

#C2 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 60px;
  left: 120px;
}

#C3 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 120px;
  left: 120px;
}

#C4 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 180px;
  left: 120px;
}

#C5 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 240px;
  left: 120px;
}

#C6 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 300px;
  left: 120px;
}

#C7 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 360px;
  left: 120px;
}

#C8 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 420px;
  left: 120px;
}

#D1 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 0px;
  left: 180px;
}

#D2 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 60px;
  left: 180px;
}

#D3 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 120px;
  left: 180px;
}

#D4 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 180px;
  left: 180px;
}

#D5 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 240px;
  left: 180px;
}

#D6 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 300px;
  left: 180px;
}

#D7 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 360px;
  left: 180px;
}

#D8 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 420px;
  left: 180px;
}

#E1 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 0px;
  left: 240px;
}

#E2 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 60px;
  left: 240px;
}

#E3 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 120px;
  left: 240px;
}

#E4 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 180px;
  left: 240px;
}

#E5 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 240px;
  left: 240px;
}

#E6 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 300px;
  left: 240px;
}

#E7 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 360px;
  left: 240px;
}

#E8 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 420px;
  left: 240px;
}

#F1 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 0px;
  left: 300px;
}

#F2 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 60px;
  left: 300px;
}

#F3 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 120px;
  left: 300px;
}

#F4 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 180px;
  left: 300px;
}

#F5 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 240px;
  left: 300px;
}

#F6 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 300px;
  left: 300px;
}

#F7 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 360px;
  left: 300px;
}

#F8 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 420px;
  left: 300px;
}

#G1 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 0px;
  left: 360px;
}

#G2 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 60px;
  left: 360px;
}

#G3 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 120px;
  left: 360px;
}

#G4 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 180px;
  left: 360px;
}

#G5 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 240px;
  left: 360px;
}

#G6 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 300px;
  left: 360px;
}

#G7 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 360px;
  left: 360px;
}

#G8 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 420px;
  left: 360px;
}

#H1 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 0px;
  left: 420px;
}

#H2 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 60px;
  left: 420px;
}

#H3 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 120px;
  left: 420px;
}

#H4 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 180px;
  left: 420px;
}

#H5 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 240px;
  left: 420px;
}

#H6 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 300px;
  left: 420px;
}

#H7 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 360px;
  left: 420px;
}

#H8 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 420px;
  left: 420px;
}