#all {
  background: linear-gradient(#e66465, #9198e5);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;

  -webkit-user-drag: none;

  /* Future standard syntax */

  /* Optional: Prevents text/image highlighting highlighting while trying to drag */
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Standard syntax */
}

#navbar_container {
  text-align: center;
}

#navbar li {
  float: left;
}

#stockfish_eval_bar {
  display: flex;
  flex-direction: column;
  width: 25px;
  height: 450px;
  border-radius: 3px;
  border-color: white;
  border-style: double;
  border-right: none;
}

#stockfish_descriptor {
  text-decoration: none;
  /* Removes the underline */
  color: white;
  font-family: 'Lucida Console';
  font-size: 13px;
  margin-left: auto;
  margin-right: auto;

}

#black_win_percent {
  height: 50%;
  background-color: rgb(0 0 30 / 30%);
  ;
}

#white_win_percent {
  height: 50%;
  background-color: rgb(255 255 255 / 20%);
  ;
}

#right_side {
  margin-top: 1.5%;
  margin-left: 2%;
  display: flex;
  flex-direction: row;

  justify-content: flex-start;
  height: 425px;
  width: 300px;
}

#round_record {
  display: flex;
  flex-direction: column;
  border-style: double;
  justify-content: flex-start;
  border-radius: 3px;
  border-color: white;
  height: 450px;
  width: 300px;

  overflow-y: scroll;
  overflow-x: hidden;

  scrollbar-color: rgb(0 0 255 / 10%) rgb(0 0 255 / 10%);
  scrollbar-width: thin;
}

/* #round_record ul {
  background-color: white;
} */

#round_record h4 {
  color: white;
  font-family: 'Lucida Console';
  font-size: 13px;
  margin-left: auto;
  margin-right: auto;
}

/* width */
#round_record::-webkit-scrollbar {
  width: 10px;
}

#round {
  border-style: double;
  border-color: white;
  border-radius: 3;
  display: flex;
  margin-top: 0px;
}



#stockfish_toggle {
  display: flex;
  justify-content: center;
  height: 50px;

  border-bottom: double;
  border-radius: 3px;
  border-color: white;
}

#stockfish_image_slider {
  margin-top: 10px;
  width: calc(100%/3);
  height: 25px;
  background-color: transparent;
}

#settings_button {
  background: none;
  border: none;
  justify-content: center;
}



#enable_stockfish_outside {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3%;

}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: rgb(0 0 90 / 50%);
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

#slider_background {
  appearance: none;
  background-color: rgb(0 0 30 / 50%);
  border: none;
  justify-content: center;
  width: 25px;
  height: 12.5px;
  border-radius: 12.5px;
  border-color: white;

  display: flex;
  justify-content: left;

  margin-left: 1.5%;
  margin-top: 4%;

}

#enable_stockfish_slider {
  width: 20px;

}



#settings_toggle {
  background-color: transparent;
}

.round_record_container {
  display: flex;
  justify-content: space-evenly;
  height: 30px;


}

.is_active_round {
  background-color: rgb(0 0 30 / 50%);
}

.round_content {
  display: flex;
  justify-content: center;
  width: calc(100% / 3);
  height: 30px;

  color: white;
  font-family: 'Lucida Console';
  font-size: 13px;
}

#wikibookcontainer {
  display: flex;
  flex-direction: column;
}

#wikibook_label_container {
  border-bottom-color: white;
  border-bottom-style: double;
  display: flex;
  justify-content: center;
}

#Wikibook_RoundInfo {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

#Wikibook_Label {

  display: flex;
  justify-content: center;
  width: calc(100% / 3);
  height: 30px;

  color: white;
  font-family: 'Lucida Console';
  font-size: 18px;
}

.Wikibook_Header {

  color: white;
  font-family: 'Lucida Console';
  font-size: 15px;
}

#round_record ul {
  display: flex;
  list-style-type: none;
}

.wikibook_entry {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  white-space: normal;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.round_content_numeric {
  border-right: double;
  border-color: white;
  border-width: 3px;
  background-color: rgb(70 0 30 / 15%);
}

#wikibookcontainer {
  border-style: double;
  border-radius: 3;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  border-color: white;
  height: 450px;
  width: 250px;

  scrollbar-color: rgb(0 0 255 / 10%) rgb(0 0 255 / 10%);
  scrollbar-width: thin;

  overflow-y: scroll;
  overflow-x: hidden;
}

#move {
  display: flex;
  margin: top -15px;
}

#import_PGN_text {
  margin-top: 5%;
  margin-left: 5%;
}

#pgn_submission {
  display: flex;
  justify-content: center;
  border-style: double;
  margin: 0;
  text-align: center;
  font-family: 'Lucida Console';
  color: white;
}

#middle_part {
  display: flex;
}

#navbar a {
  text-decoration: none;
  color: white;
  display: block;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
}

#navbar ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  font-family: 'Lucida Console';

  font-size: 13px;
}

#navbar a:hover {
  background: rgb(19, 27, 115);
}


#chess_board_container {
  margin-left: 2%;
  border-style: double;
  height: 480px;
  width: 480px;
  border-color: white;
  position: relative;
  top: 0px;
}

#A1 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

#A2 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 60px;
  left: 0px;
}

#A3 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 120px;
  left: 0px;
}

#A4 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 180px;
  left: 0px;
}

#A5 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 240px;
  left: 0px;
}

#A6 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 300px;
  left: 0px;
}

#A7 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 360px;
  left: 0px;
}

#A8 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 420px;
  left: 0px;
}

#B1 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 0px;
  left: 60px;
}

#B2 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 60px;
  left: 60px;
}

#B3 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 120px;
  left: 60px;
}

#B4 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 180px;
  left: 60px;
}

#B5 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 240px;
  left: 60px;
}

#B6 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 300px;
  left: 60px;
}

#B7 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 360px;
  left: 60px;
}

#B8 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 420px;
  left: 60px;
}

#C1 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 0px;
  left: 120px;
}

#C2 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 60px;
  left: 120px;
}

#C3 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 120px;
  left: 120px;
}

#C4 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 180px;
  left: 120px;
}

#C5 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 240px;
  left: 120px;
}

#C6 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 300px;
  left: 120px;
}

#C7 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 360px;
  left: 120px;
}

#C8 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 420px;
  left: 120px;
}

#D1 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 0px;
  left: 180px;
}

#D2 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 60px;
  left: 180px;
}

#D3 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 120px;
  left: 180px;
}

#D4 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 180px;
  left: 180px;
}

#D5 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 240px;
  left: 180px;
}

#D6 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 300px;
  left: 180px;
}

#D7 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 360px;
  left: 180px;
}

#D8 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 420px;
  left: 180px;
}

#E1 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 0px;
  left: 240px;
}

#E2 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 60px;
  left: 240px;
}

#E3 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 120px;
  left: 240px;
}

#E4 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 180px;
  left: 240px;
}

#E5 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 240px;
  left: 240px;
}

#E6 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 300px;
  left: 240px;
}

#E7 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 360px;
  left: 240px;
}

#E8 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 420px;
  left: 240px;
}

#F1 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 0px;
  left: 300px;
}

#F2 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 60px;
  left: 300px;
}

#F3 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 120px;
  left: 300px;
}

#F4 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 180px;
  left: 300px;
}

#F5 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 240px;
  left: 300px;
}

#F6 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 300px;
  left: 300px;
}

#F7 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 360px;
  left: 300px;
}

#F8 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 420px;
  left: 300px;
}

#G1 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 0px;
  left: 360px;
}

#G2 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 60px;
  left: 360px;
}

#G3 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 120px;
  left: 360px;
}

#G4 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 180px;
  left: 360px;
}

#G5 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 240px;
  left: 360px;
}

#G6 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 300px;
  left: 360px;
}

#G7 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 360px;
  left: 360px;
}

#G8 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 420px;
  left: 360px;
}

#H1 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 0px;
  left: 420px;
}

#H2 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 60px;
  left: 420px;
}

#H3 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 120px;
  left: 420px;
}

#H4 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 180px;
  left: 420px;
}

#H5 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 240px;
  left: 420px;
}

#H6 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 300px;
  left: 420px;
}

#H7 {
  background-color: rgb(255, 206, 158);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 360px;
  left: 420px;
}

#H8 {
  background-color: rgb(209, 139, 71);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 420px;
  left: 420px;
}